<!DOCTYPE html>
<html>
    <head>
        <title> Mosaic | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="store.js" defer></script>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="store.html"></a></li>
                </ul>
            </nav>
            <h1 class="picture-name picture-name-large">Mosaic</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header"></h2>
            <div class="shop-items">
                <% items.items.forEach(function(item){ %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                    <span class="shop-item-title"><%= item.name %></span>
                    <img class="shop-item-image" src="Images/<%= item.imageName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price"><%= item.price / 100 %></span>
                        <button class="btn btn-primary shop-item-button" id= "move" type="button">ADD TO CART</button>
                    </div>
                </div>
               <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header"></h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">TOTAL</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">CHECKOUT</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name"></h3>
            </div>
        </footer>
    </body>
</html>